/*-- scss:defaults --*/
// Base document colors
$body-bg: white;
$body-color: #000044;
$link-color: #0099ff;
$font-family-sans-serif: 
    "Optima", 
    "Gill Sans";
$navbar-bg: white;
$navbar-fg: #000044;
